/* =============
    Typography
============= */
p {
	font-family: 'Crimson Text', serif,;
	font-weight: 400;
}
h1,
h2,
h3 {
	font-family: 'New Rocker', cursive;
}
h2 {
	font-size: rem-calc(36);
	@include md {
		font-size: rem-calc(48);
	}
}
