//section 1
#section-1 {
    display: grid;
    height: 10vh;
    padding: 70px 0px 20px;
    text-align: justify;
    margin: 50px 10px;
    font-size: rem-calc(16);
    line-height: rem-calc(20);

    @include md {
        grid-template-columns: auto 55% auto;
        grid-template-areas: ". text .";
        background-image: url(../img/section-1/library.jpg);
        background-size: cover;
        background-position: center;
        height: 420px;
        padding: 58px;
        margin: 300px 0px 80px;
        color: $white;
        font-weight: 700;
        font-style: italic;
    }

    @include lg {
        background-image: none;
        color: $black;
        font-style: normal ; 
        grid-template-columns: auto 55% auto;
        grid-template-areas:
            "eye text pointer";
        gap: 10px;
        margin: 160px 10px 0px;
        justify-content: center;
    }

    @include xl {
        grid-template-columns: auto 30% auto;
        grid-template-areas:
            "eye text pointer";
        margin: 120px 120px 200px;
        padding-top: 180px;
        grid-gap: 20px;
    }

    >article {
        grid-area: text;
    }

    #eye {
        grid-area: eye;
        background-image: url(../img/section-1/eye.png);
        height: 170px;
        width: 200px;
        background-size: cover;
        background-position: center;

        @include xl {
            height: 320px;
            width: 390px;
        }
    }

}

#hand {
    grid-area: pointer;
    background-image: url(../img/section-1/pointer.png);
    background-size: cover;
    background-position: center;
    height: 170px;
    width: 200px;

    @include xl {
        height: 345px;
        width: 398px;
    }

}

