//section 6
#section-6 {
	background-image: url(../img/section-6/hero3.jpg);
	background-position: 0px -200px;
	background-size: cover;
	height: 30vh;
	margin-top: 80px;
	@include lg {
		background-position: 0px -250px;
		height: 40vh;
	}
	@include xl {
		background-position: 0px -550px;
		height: 50vh;
	}
}
