//section 3
#section-3 {
	@include xl {
		display: grid;
		grid-template-columns: auto 1004px auto;
	}
	#section-3-container {
		grid-area: section-3-container;
		>h2 {
			align-content: center;
			text-align: center;
			@include lg {
				margin-top: 120px;
			}
		}
		#address-grid {
			display: grid;
			grid-template-areas: "location location"
                "case time";
			grid-template-columns: 45% auto;
			@include md {
				grid-template-areas: "caseinfo time";
				grid-template-columns: repeat(2, 1fr);
			}
			@include lg {
				margin: 0px 50px;
			}
			@include xl {
				margin: 85px 218px;
			}
			#location {
				background-color: $cream;
				grid-area: location;
				padding-bottom: 36px;
				text-align: center;
				@include md {
					grid-area: caseinfo;
					height: 140px;
					z-index: 2;
				}
				>h4 {
					font-size: rem-calc(24);
					font-style: italic;
					margin: 0px;
					padding-bottom: 22px;
					padding-top: 28px;
					@include md {
						font-size: rem-calc(28);
						padding-bottom: 18px;
						padding-left: 20px;
					}
				}
				>p {
					font-style: italic;
					margin: 0px;
					padding-left: 66px;
					text-align: left;
					@include md {
						font-size: rem-calc(18);
						padding-left: 20px;
					}
				}
			}
			#case-image {
				background-image: url(../img/section-3/case.jpg);
				background-position: center;
				background-size: cover;
				height: 30vh;
				@include md {
					grid-area: caseinfo;
					height: 30vh;
				}
			}
			#time {
				grid-area: time;
				padding-top: 33%;
				text-align: center;
				@include md {
					font-size: rem-calc(21);
					line-height: rem-calc(15);
					padding-left: 20px;
					padding-top: 50%;
					text-align: left;
				}
				@include lg {
					padding-top: 300px;
				}
			}
		}
		#image-grid {
			@include md {
				display: grid;
				grid-gap: 36px;
				grid-template-areas: "bunnies tag painting"
                    ". . painting"
                    "words words painting"
                    ". . painting";
				grid-template-columns: repeat(3, 1fr);
				margin-left: 10px;
				margin-top: 85px;
			}
			@include lg {
				margin: 85px 50px 40px;
			}
			@include xl {
				margin: 85px 218px;
				max-width: 1004px;
			}
			#advisory {
				@include md {
					grid-area: words;
					padding: 200px 0px;
				}
				>h4 {
					font-size: rem-calc(24);
					font-weight: 400;
					margin: 37px 10px 15px 10px;
					@include md {
						font-size: rem-calc(36);
					}
				}
				>p {
					line-height: rem-calc(20);
					margin: 0px 10px;
					@include md {
						font-size: rem-calc(21);
						line-height: rem-calc(26);
					}
				}
			}
			#bunnies-image {
				background-image: url(../img/section-3/bunnies.jpg);
				background-position: center;
				background-size: 100%;
				grid-area: bunnies;
				height: 15vh;
			}
			#tag-image {
				background-image: url(../img/section-3/tag.jpg);
				background-position: center;
				background-size: 100%;
				grid-area: tag;
				height: 15vh;
			}
			#painting-image {
				background-image: url(../img/section-3/painting.jpg);
				background-position: 0px 230px;
				background-size: cover;
				height: 20vh;
				margin-bottom: 40px;
				margin-top: 50px;
				@include md {
					background-position: center;
					grid-area: painting;
					height: inherit;
					margin-top: 0px;
				}
			}
		}
	}
}
