/* =============
    Buttons
============= */

.more{
    background-color: $gold;
    width: 96px;
    height: 33px;
    text-align: center;
    padding-top: 12px;
    color: $black;
    font-style: italic;
    border-radius: 2px;
}

.footer-button{
    background-color: $gold;
    border-radius: 2px;
    color: $black;
    font-style: italic;
    text-align: center;
    padding: 10px 0px 0px;
    width: 120px;
    height: 22px;
    font-size: rem-calc(18);

    @include md{
        width: 150px;
        font-size: rem-calc(20);
        padding: 15px 0px 15px;
    }
        @include lg{
            padding: 10px 0px 0px;
            width: 203px;
            height: 40px;
            font-size: rem-calc(25);
        }
    
    >p{
        padding: 0px;
        margin: 0px;
    }
}
