/* =============
    Buttons
============= */
.more {
	background-color: $gold;
	border-radius: 2px;
	color: $black;
	font-style: italic;
	height: 33px;
	padding-top: 12px;
	text-align: center;
	width: 96px;
}
.footer-button {
	background-color: $gold;
	border-radius: 2px;
	color: $black;
	font-size: rem-calc(18);
	font-style: italic;
	height: 22px;
	padding: 10px 0px 0px;
	text-align: center;
	width: 120px;
	@include md {
		font-size: rem-calc(20);
		padding: 15px 0px 15px;
		width: 150px;
	}
	@include lg {
		font-size: rem-calc(25);
		height: 40px;
		padding: 10px 0px 0px;
		width: 203px;
	}
	>p {
		margin: 0px;
		padding: 0px;
	}
}
